/** reference */

$ab-wg-sans-serif: Helvetica, Arial, sans-serif !default;

.ab-wg-button {
    user-select: none;
    font-size: 1.5em;

    box-sizing: border-box;
    width: max-content;

    position: relative;
    top: 0;
    left: 0;

    padding: .4em;
    margin: .2em .2em;
    font-weight: bolder;
    border-radius: .3em;
    border-style: solid;
    border-width: .1em .1em .1em .1em;
    box-shadow: 0 .1em 0;

    &:active {
        top: .1em;
        left: 0;
        box-shadow: 0 0 0;
    } 
}

button.ab-wg-button {
    background: inherit;
    border-color: inherit;
}
